In [1]:
print("I am the best")

I am the best

# IDE-> Integrated development envirnoment

In [2]:
print("Hello")

Hello

In [1]:
a=10
print(a)

10

In [2]:
1+1

2

In [6]:
## this is a comment 
a=20
#b=40
print(a, b) # ->error since b is commented
## or # single hash can be used as comments!!

NameError: name 'b' is not defined

In [9]:
# for multi line comments i will use triple quotes 

"""
hello
how 
are 
you
this is a 
multi 
line 
comments!!!
"""

print("Hello")

Hello

# Hello

## Hello

### Hello

#### Hello

##### hello

print("Hello") -> RAW NBConvert

# Press esc and press A button to create a new cell -> short cut

## Numbers

In [10]:
1+3

4

In [11]:
print(4+7)

11

In [13]:
print("Hello Wolrd my name is Gautham \nI am a Phd student")
# \n -> new line

Hello Wolrd my name is Gautham
I am a Phd student

## Variable Assignments

In [14]:
name="Gautham" # string can be represented using "" or ''
company="FIU"
print(name, company)

Gautham FIU

In [16]:
name="Bala"
print(name, company) # name will be overwritten

Bala FIU

In [19]:
print(type(name))
age=87
print(type(age))

<class 'str'>
<class 'int'>

In [20]:
decimal=56.45
print(type(decimal))
# type will provide data type of the variables

<class 'float'>

In [21]:
complexs = 3+7j
print(type(complexs))

<class 'complex'>

In [23]:
# Reserved kewords 
'''
int float len complex bool str from return continue try else if for 
'''

'\nint float len complex bool str from return continue try else if for \n'

In [24]:
# boolean -> True , False
print(True)

True

In [27]:
# Logical Operataions and,not 
print(not True)
print(bool(0))

False
False

In [28]:
a=1
if bool(a) == True:
    print("True")

True

In [29]:
str(45) # shift + tab will give the information ,  will convert 45 number into string
# typecasting -> converting from one datatype to another

'45'

In [31]:
int('23') # convert string to number

23

# Dynamic Typing

In [2]:
a=12 # compiler on run time will understand the datetype and allocate the space 
print(a)
str1="gautham"
a="var"
print(a)

12
var

In [3]:
print(int(1.76575))

1

# Cocatenation between different types

In [4]:
"1"+"1" # => 11

'11'

In [6]:
int("1")+"1" #-> error  since we cannot add 1 and string 1.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
"1"*100 # -> 1 will be repeated 100 times

'1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111'

In [10]:
# type casting 
a=int('24')
print(type(a))
b=str(567)
print(type(b))
print(a,b)

<class 'int'>
<class 'str'>
24 567

In [11]:
print("hello world")

hello world

In [12]:
print(123)

123

In [14]:
age=32
print("my age is :", age)

my age is : 32

In [16]:
print(f"My age is : {age} ") # f is used for formatting called as fstring

My age is : 32

In [17]:
##format()

name ="sunny"
age=36
print("my name is {} and age is {}".format(name,age))

my name is sunny and age is 36

In [19]:
print("my name is {firstname} and age is {firstage} ".format(firstname=name,firstage=age)) # placeholder -> firstname and firstage

my name is sunny and age is 36

In [20]:
name="gautham"
age=56
degree="MS"

print("My age is {} and i have completed: my degree of {} with the name of {}".format(age,degree,name))

My age is 56 and i have completed: my degree of MS with the name of gautham

# Control Flow

In [23]:
# if statement

age=16
if age >= 18:
    print("You are eligible to vote")
else:
    print("Not eligible to vote")

Not eligible to vote

In [25]:
# input() -> take input from the users.
name=input("Enter you name")
print(name)
# default datatype of input is "String".

Enter you nameGautham
Gautham

In [26]:
age=input("Enter your age :")
print(age)
print(type(age))
ages=int(input("Enter your age :"))
print(ages,type(ages))

Enter your age :24
24
<class 'str'>
Enter your age :24
24 <class 'int'>

In [28]:
#Task
age=int(input("enter youe age :"))
if age >=18 and age <=45:
    print("You are young blood")
else:
    print("You are old")

enter youe age :46
You are old

In [51]:
money=int(input("Enter money spent :"))
if money > 3000:
    if money == 4000:
        print("You will get a trip to Goa")
    money=money-money*0.20
    print(money)
elif money >= 2000 and money <= 3000:
    if money == 2999:
        print("You get an additional gift")
    money=money-money*0.30
    print(money)
elif money >=100 and money <= 2000:
    money=money-money*0.40
    print(money)

Enter money spent :4000
You will get a trip to Goa
3200.0